body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 350px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  width: 70px;
}

/* input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
} */
